# Image hosted in a public registry -> https://hub.docker.com/r/hopobcn/pgi-ce/
image: hopobcn/pgi-ce

before_script:
  - apt update
  - apt install -y --no-install-recommends cmake

fwi:
  script:
    - git checkout master
    - git submodule update --init --recursive
    - cmake -DCMAKE_C_COMPILER=pgcc -DUSE_OPENACC=ON .
    - make -j
    - make utest
  tags:
    - gpu


