# Image hosted in a public registry -> https://hub.docker.com/r/hopobcn/pgi-ce/
image: hopobcn/fwi-pre

stages:
 - Build
 - UnitTests
 - IntegrationTests

# STAGE build
build_fwi:serial:
  stage: Build
  script:
    - mkdir build
    - cd build
    - cmake -DCMAKE_C_COMPILER=gcc -DENABLE_TESTS=ON ..
    - make -j
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  except:
    - gtc2017eu-step1
    - gtc2017eu-step2
    - gtc2017eu-step3
    - gtc2017eu-step4
    - gtc2017eu-step5
    - gtc2017eu-step6
  tags:
    - gpu
  artifacts:
    when: on_success
    expire_in: 1h
    paths:
    - build

build_fwi:openmp:
  stage: Build
  script:
    - mkdir build
    - cd build
    - cmake -DCMAKE_C_COMPILER=gcc -DENABLE_TESTS=ON -DUSE_OPENMP=ON ..
    - make -j
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  except:
    - gtc2017eu-step1
    - gtc2017eu-step2
    - gtc2017eu-step3
    - gtc2017eu-step4
    - gtc2017eu-step5
    - gtc2017eu-step6
  tags:
    - gpu
  artifacts:
    when: on_success
    expire_in: 1h
    paths:
    - build
  dependencies: []

build_fwi:openacc/kepler:
  stage: Build
  script:
    - mkdir build
    - cd build
    - cmake -DCMAKE_C_COMPILER=pgcc -DENABLE_TESTS=ON -DUSE_OPENACC=ON ..
    - make -j
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  except:
    - gtc2017eu-step1
    - gtc2017eu-step2
    - gtc2017eu-step3
    - gtc2017eu-step4
    - gtc2017eu-step5
    - gtc2017eu-step6
  tags:
    - kepler
  artifacts:
    when: on_success
    expire_in: 1h
    paths:
    - build
  dependencies: []

build_fwi:openacc/maxwell:
  stage: Build
  script:
    - mkdir build
    - cd build
    - cmake -DCMAKE_C_COMPILER=pgcc -DENABLE_TESTS=ON -DUSE_OPENACC=ON ..
    - make -j
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  except:
    - gtc2017eu-step1
    - gtc2017eu-step2
    - gtc2017eu-step3
    - gtc2017eu-step4
    - gtc2017eu-step5
    - gtc2017eu-step6
  tags:
    - maxwell
  artifacts:
    when: on_success
    expire_in: 1h
    paths:
    - build
  dependencies: []

build_fwi:openacc_cuda/kepler:
  stage: Build
  script:
    - mkdir build
    - cd build
    - cmake -DCMAKE_C_COMPILER=pgcc -DENABLE_TESTS=ON -DUSE_OPENACC=ON -DUSE_CUDA_KERNELS=ON ..
    - make -j
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  except:
    - gtc2017eu-step1
    - gtc2017eu-step2
    - gtc2017eu-step3
    - gtc2017eu-step4
    - gtc2017eu-step5
    - gtc2017eu-step6
  tags:
    - kepler
  artifacts:
    when: on_success
    expire_in: 1h
    paths:
    - build
  dependencies: []

build_fwi:openacc_cuda/maxwell:
  stage: Build
  script:
    - mkdir build
    - cd build
    - cmake -DCMAKE_C_COMPILER=pgcc -DENABLE_TESTS=ON -DUSE_OPENACC=ON -DUSE_CUDA_KERNELS=ON ..
    - make -j
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  except:
    - gtc2017eu-step1
    - gtc2017eu-step2
    - gtc2017eu-step3
    - gtc2017eu-step4
    - gtc2017eu-step5
    - gtc2017eu-step6
  tags:
    - maxwell
  artifacts:
    when: on_success
    expire_in: 1h
    paths:
    - build
  dependencies: []

# STAGE: unit_tests
test_fwi:serial:
  stage: UnitTests
  script:
    - cd build
    - make utest
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  except:
    - gtc2017eu-step1
    - gtc2017eu-step2
    - gtc2017eu-step3
    - gtc2017eu-step4
    - gtc2017eu-step5
    - gtc2017eu-step6
  tags:
    - gpu
  dependencies:
    - build_fwi:serial

test_fwi:openmp:
  stage: UnitTests
  script:
    - cd build
    - make utest
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  except:
    - gtc2017eu-step1
    - gtc2017eu-step2
    - gtc2017eu-step3
    - gtc2017eu-step4
    - gtc2017eu-step5
    - gtc2017eu-step6
  tags:
    - gpu
  dependencies:
    - build_fwi:openmp

test_fwi:openacc/kepler:
  stage: UnitTests
  script:
    - cd build
    - make utest
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  except:
    - gtc2017eu-step1
    - gtc2017eu-step2
    - gtc2017eu-step3
    - gtc2017eu-step4
    - gtc2017eu-step5
    - gtc2017eu-step6
  tags:
    - kepler
  dependencies:
    - build_fwi:openacc/kepler

test_fwi:openacc/maxwell:
  stage: UnitTests
  script:
    - cd build
    - make utest
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  except:
    - gtc2017eu-step1
    - gtc2017eu-step2
    - gtc2017eu-step3
    - gtc2017eu-step4
    - gtc2017eu-step5
    - gtc2017eu-step6
  tags:
    - maxwell
  dependencies:
    - build_fwi:openacc/maxwell

test_fwi:openacc_cuda/kepler:
  stage: UnitTests
  script:
    - cd build
    - make utest
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  except:
    - gtc2017eu-step1
    - gtc2017eu-step2
    - gtc2017eu-step3
    - gtc2017eu-step4
    - gtc2017eu-step5
    - gtc2017eu-step6
  tags:
    - kepler
  dependencies:
    - build_fwi:openacc_cuda/kepler

test_fwi:openacc_cuda/maxwell:
  stage: UnitTests
  script:
    - cd build
    - make utest
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  except:
    - gtc2017eu-step1
    - gtc2017eu-step2
    - gtc2017eu-step3
    - gtc2017eu-step4
    - gtc2017eu-step5
    - gtc2017eu-step6
  tags:
    - maxwell
  dependencies:
    - build_fwi:openacc_cuda/maxwell

# STAGE performance_tests
run_fwi:serial:
  stage: IntegrationTests
  script:
    - cd build
    - bin/fwi ../data/fwi_params.txt ../data/fwi_frequencies.profile.txt
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  except:
    - gtc2017eu-step1
    - gtc2017eu-step2
    - gtc2017eu-step3
    - gtc2017eu-step4
    - gtc2017eu-step5
    - gtc2017eu-step6
  tags:
    - gpu
  dependencies:
    - build_fwi:serial

run_fwi:openmp:
  stage: IntegrationTests
  script:
    - cd build
    - bin/fwi ../data/fwi_params.txt ../data/fwi_frequencies.profile.txt
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  except:
    - gtc2017eu-step1
    - gtc2017eu-step2
    - gtc2017eu-step3
    - gtc2017eu-step4
    - gtc2017eu-step5
    - gtc2017eu-step6
  tags:
    - gpu
  dependencies:
    - build_fwi:openmp

run_fwi:openacc/kepler:
  stage: IntegrationTests
  script:
    - cd build
    - bin/fwi ../data/fwi_params.txt ../data/fwi_frequencies.profile.txt
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  except:
    - gtc2017eu-step1
    - gtc2017eu-step2
    - gtc2017eu-step3
    - gtc2017eu-step4
    - gtc2017eu-step5
    - gtc2017eu-step6
  tags:
    - kepler
  dependencies:
    - build_fwi:openacc/kepler

run_fwi:openacc/maxwell:
  stage: IntegrationTests
  script:
    - cd build
    - bin/fwi ../data/fwi_params.txt ../data/fwi_frequencies.profile.txt
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  except:
    - gtc2017eu-step1
    - gtc2017eu-step2
    - gtc2017eu-step3
    - gtc2017eu-step4
    - gtc2017eu-step5
    - gtc2017eu-step6
  tags:
    - maxwell
  dependencies:
    - build_fwi:openacc/maxwell

run_fwi:openacc_cuda/kepler:
  stage: IntegrationTests
  script:
    - cd build
    - bin/fwi ../data/fwi_params.txt ../data/fwi_frequencies.profile.txt
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  except:
    - gtc2017eu-step1
    - gtc2017eu-step2
    - gtc2017eu-step3
    - gtc2017eu-step4
    - gtc2017eu-step5
    - gtc2017eu-step6
  tags:
    - kepler
  dependencies:
    - build_fwi:openacc_cuda/kepler

run_fwi:openacc_cuda/maxwell:
  stage: IntegrationTests
  script:
    - cd build
    - bin/fwi ../data/fwi_params.txt ../data/fwi_frequencies.profile.txt
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  except:
    - gtc2017eu-step1
    - gtc2017eu-step2
    - gtc2017eu-step3
    - gtc2017eu-step4
    - gtc2017eu-step5
    - gtc2017eu-step6
  tags:
    - maxwell
  dependencies:
    - build_fwi:openacc_cuda/maxwell